@font-face {
  font-family: "Alegreya";
  src: url("../../../vendors/AlegreyaSansSC-Regular.ttf");
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
  font-family: "Alegreya";
}

.navbar-logo {
  height: 125px;
  width: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 30px;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #5d6767 0.75%, #68d2df 102.06%);
  font-size: 28px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  position: absolute;
  bottom: -111px;
  height: 180px;
  width: auto;
  align-self: center;
  z-index: -1;
}

.anchor-link {
  text-decoration: none;
  color: white;
}
