.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  width: auto;
  margin: 0;
  padding: 0;
}

.hero_img {
  margin: 0;
  border-radius: 50%;
  padding: 0;
  width: 500px;
  height: auto;
}

.hero_h1 {
  text-align: center;
  width: 70%;
  font-size: 75px;
  font-weight: 600;
}

.hero_h1 span {
  background: linear-gradient(267deg, #5d6767 0.75%, #68d2df 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #5d6767 -5.09%, #68d2df 106.28%);
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid white;
}

.hero-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.hero-resume:hover {
  border-color: #68d2df;
}
