@font-face {
  font-family: "Alegreya";
  src: url("../../../vendors/AlegreyaSansSC-Regular.ttf");
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  padding: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 170px;
  margin-bottom: 40px;
  font-family: "Alegreya";
}

.navbar-logo {
  height: 125px;
  width: auto;
  margin-right: 40px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 30px;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #5d6767 0.75%, #68d2df 102.06%);
  font-size: 28px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 40px;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  position: absolute;
  bottom: -5px;
  height: 45px;
  width: auto;
  align-self: center;
  z-index: -1;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 1166px) {
  .navbar-logo {
    scale: 0.8;
  }

  .navbar {
    margin: 20px 0px;
    gap: 0px;
  }
}

@media (max-width: 997px) {
  .navbar {
    margin: 20px 0px;
    background-color: #161513;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: 0;
  }

  .navbar-logo {
    scale: 0.6;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
    height: 50px;
    width: auto;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
    height: auto;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background: linear-gradient(267deg, #5d6767 0.75%, #68d2df 102.06%);
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}
