@font-face {
  font-family: "Alegreya";
  src: url("../../../vendors/AlegreyaSansSC-Regular.ttf");
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.contact-title {
  position: relative;
}

.contact-title_h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.contact-title_img {
  position: absolute;
  bottom: -175px;
  right: 85px;
  z-index: -1;
  width: 225px;
  height: auto;
  opacity: 0.45;
}

.contact-section {
  display: flex;
  gap: 150px;
}

.contact-left {
  display: flex;
  flex-direction: column;
}

.contact-left_h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(267deg, #5d6767 0.75%, #68d2df 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left_p {
  margin-top: 15px;
  max-width: 550px;
  color: #a0a0a0;
  font-size: 20px;
  line-height: 35px;
}

.contact-details {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #a0a0a0;
  font-size: 22px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-detail_img {
  width: 40px;
  height: auto;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.contact-right_label {
  color: #5d6767;
  font-size: 22px;
  font-weight: 500;
}

.contact-right_input {
  border: none;
  width: 700px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: "Alegreya";
  font-size: 20px;
}

.contact-right_textarea {
  width: 650px;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: "Alegreya";
  font-size: 20px;
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(267deg, #5d6767 0.75%, #68d2df 102.06%);
  font-size: 22px;
  padding: 20px 60px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
